
<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/app.js"></script>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- form to input new flight/delay -->

    <!-- flight list -->
    <div class="jumbotron">
      <div class="container">
        <h1>Flight Delays</h1>
        <p></p>
      </div>
    </div>
     <!-- flights! -->


    <!-- BEGIN FORM SAMPLE -->

        <section id='album-form' class="container">
          <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <legend>Add Delayed Flight</legend>

                <!-- Text input-->
                <div class="container">

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Airline
      <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Southwest</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delta</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">United</a></li>
      </div>




    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="artistName">Flight Number</label>
      <div class="col-md-4">
        <input id="textinput" name="artistName" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="releaseDate">From/To</label>
      <div class="col-md-4">
        <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="releaseDate">Status</label>
      <div class="col-md-4">
        <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">


                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="releaseDate">Time Delayed</label>
                    <div class="col-md-4">
                    <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md">

                <!-- Textarea -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="genres">Genres (separated by commas)</label>
                  <div class="col-md-4">
                    <textarea class="form-control" id="genres" name="genres">rock, pop</textarea>
                  </div>
                </div>


                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Save Album</label>
                  <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          </div>
        </section>

         <!--   END FORM SAMPLE -->




    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Flights</h2>
        </div>
      </div>
      <!-- albums! -->
      <div id='albums'>

      </div>
    </section>

    <!-- begin songModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="songModal">
      <form name="modalForm" id="modalForm" method="POST" action="javascript.void();">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Song</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="songName">Song Name</label>
                <div class="col-md-4">
                  <input id="songName" name="name" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="trackNumber">Track Number</label>
                <div class="col-md-4">
                  <input id="trackNumber" name="trackNumber" type="text" placeholder="" class="form-control input-md">
                </div>
              </div>
            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="saveSong">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </form>
    </div><!-- /.modal -->

    <footer>
      <!-- contact info -->
      <nav>

      </nav>
    </footer>
  </body>
  </html>
