<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="scripts/app.js"></script>

    <meta charset="utf-8">
    <title>Delayed Flight App</title>
    <link rel="icon" type="image/png" href="/images/titleIcon.png">

  </head>
  <body>

    <!-- form to input new flight/delay -->

    <!-- flight list -->
    <div class="jumbotron">
      <div class="container">
        <h1>Flight Delays</h1>
        <p></p>
      </div>
    </div>
     <!-- flights! -->


     <!-- BEGIN FORM SAMPLE -->

       <section id='delay-form' class="container">
         <div class="row">
         <div class="col-md-10 col-md-offset-1">

           <form class="form-horizontal">
             <fieldset>

               <!-- Form Name -->
               <legend>Add New Delay</legend>

               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="airline">Airline</label>
                 <div class="col-md-4">
                   <select class="" name="airline" id="textinput" type="text">
                     <option value="Delta">Delta</option>
                     <option value="Southwest">SouthWest</option>
                     <option value="United">United</option>
                     <!-- <option value="audi">Audi</option> -->
                   </select>
                 </div>
               </div>

               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="flightNumber">Flight Number</label>
                 <div class="col-md-4">
                   <input id="textinput" name="flightNumber" type="text" placeholder="" class="form-control input-md">

                 </div>
               </div>

               <div class="form-group">
                 <label class="col-md-4 control-label" for="origin">Origin</label>
                 <div class="col-md-4">
                   <select class="" name="origin" id="textinput" type="text">
                     <option value="SFO">SFO</option>
                     <option value="ATL">ATL</option>
                     <!-- <option value="fiat">United</option> -->
                     <!-- <option value="audi">Audi</option> -->
                   </select>
                 </div>
               </div>

               <div class="form-group">
                 <label class="col-md-4 control-label" for="destination">Destination</label>
                 <div class="col-md-4">
                   <select class="" name="destination" id="textinput" type="text">
                     <option value="SFO">SFO</option>
                     <option value="ATL">ATL</option>
                     <!-- <option value="fiat">United</option> -->
                     <!-- <option value="audi">Audi</option> -->
                   </select>
                 </div>
               </div>

               <!-- Textarea -->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="status">Status</label>
                 <div class="col-md-4">
                   <select class="" name="status" id="textinput" type="text">
                     <option value="delayed">Delayed</option>
                     <option value="cancelled">Cancelled</option>
                     <!-- <option value="fiat">United</option> -->
                     <!-- <option value="audi">Audi</option> -->
                   </select>
                 </div>
               </div>

               <!-- Text input-->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="timeDelayed">Time Delayed</label>
                 <div class="col-md-4">
                   <input id="textinput" name="timeDelayed" type="text" placeholder="" class="form-control input-md">

                 </div>
               </div>


               <!-- Button -->
               <div class="form-group">
                 <label class="col-md-4 control-label" for="singlebutton">Save Delay</label>
                 <div class="col-md-4">
                   <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary">Submit</button>
                 </div>
               </div>
             </fieldset>
           </form>
         </div>
       </div>
     </section>

     <!--   END FORM SAMPLE -->




     <section class="container">
       <div class="row">
         <div class="col-md-10 col-md-offset-1">
           <h2>Flights</h2>
         </div>
       </div>

       <!-- albums container! -->
       <div id='flights'></div>

     </section>

     <!-- begin flightModal: this is not visible until you call .modal() on it -->
     <!-- <div class="modal fade" tabindex="-1" role="dialog" id="flightModal"> -->
       <!-- <div class="modal-dialog"> -->
         <!-- <div class="modal-content"> -->
           <!-- <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">Create flight</h4>
           </div>
           <div class="modal-body">

             <fieldset class='form-horizontal'>
               Text input
               <! <div class="form-group"> -->
                 <!-- <label class="col-md-4 control-label" for="Airline">Airline</label> -->
                 <!-- <div class="col-md-4"> -->
                   <!-- <input id="Airline" name="Airline" type="text" placeholder="" class="form-control input-md" required=""> -->
                 <!-- </div> -->
               <!-- </div> -->

               <!-- Number input-->
               <!-- <div class="form-group"> -->
                 <!-- <label class="col-md-4 control-label" for="delayTime">Delay Time</label> -->
                 <!-- <div class="col-md-4"> -->
                   <!-- <input id="delaytime" name="delaytime" type="number" placeholder="" class="form-control input-md"> -->
                 <!-- </div> -->
               <!-- </div> -->
             <!-- </fieldset> -->

           <!-- </div> --> -->

   </body>
   </html>
