<!DOCTYPE html>
<html>
  <head>
    <!-- stylesheets -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/ThingsTodoStyles.css">
    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="scripts/thingstodo.js"></script>

    <meta charset="utf-8">
    <title>Things to do</title>
    <link rel="icon" type="image/jpg" href="../public/images/alicante-airport-3.jpg">

  </head>
  <body>

    <div class="jumbotron">
      <div class="container">
        <h1>What to do Now</h1>
      </div>
    </div>
    <div>
      <form id="air">
        <select class="col-md-1 air-select" name="air" id="textinput" type="text">
          <option value="SFO">SFO</option>
          <option value="ATL">ATL</option>
      </form>
      <!-- <option value="United">United</option> -->
        <!-- <option value="audi">Audi</option> -->
      </select>
    </div>
    <!-- <p>Here are some options during your delay</p> -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" type="submit" class="btn btn-primary sub">Submit</button>
      </div>
    </div>
    <div id="appendHere"></div>



  <div>
      <a   class="col-md-4 return-nav" href="index.html">Return Home</a>
  </div>
  </body>
  </html>
