.jumbotron {
  background-image: url(../images/airlines.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
  width: 60%;
  margin-left: 380px;
}
.jumbotron .container {
  height: 400px;

}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.delayInput, .save-delay {
  display: none;
}

.delayData, .edit-delay {
  display: inline;
}
#myTopnav{
  font-size: 350%;


}
body{
background-image: url(../images/jGlzr.png);
}
