.jumbotron {
  background-image: url(../images/shopping.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;

}
.jumbotron .container {
  height: 400px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}


h1 {
  font-family: Arial, sans-serif;


}
.air-div{
  margin-left: 13%;
}
.air-select{
  margin-left: 620px;
  margin-bottom: 20px;
}
.return-nav{
  margin-left: -1070px;
  margin-top: 380px;
  font-size: 20px;

}
.sub{
  margin-left: -20%;
  margin-top: 65px;
}
#commentsHere{
  text-align: center;
  margin-left: 35%;
  margin-top: 5%;
}
#travTipBox{
  border:8px solid black;
  width: 40%;
  margin-left: 27%;

}
#appendHere{
  text-align: center;
  margin-left: 25%;
}
#travTipBox{
  margin-bottom: 20px;
}
#newComm{
  text-align: center;
  font-size: 140%;
  margin-top: 15px;
}
li{
  list-style-type: none;
}
