.jumbotron {
  background-image: url(../images/sfo-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;

}
.jumbotron .container {
  height: 400px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}


h1 {
  font-family: Arial, sans-serif;
}
.air-select{
  margin-left: 620px;
  margin-bottom: 20px;
}
.return-nav{
  margin-left: -140px;
  position: absolute;
  margin-top: 50px;
  font-size: 20px;
}
